*,::before,::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


body{
    
}

.navbar{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr;
    border-bottom:1px solid #ccc;
}
.logo{
    width:100%;
    height:40px;
    background-image: linear-gradient(to bottom right,#c09,#f42 85%);
    padding-bottom:.5em;
    z-index:999;
}

.logo img{
    height:16px;
    width:80px;
    margin:.5em auto;
}
.search-bar{
    height:auto;
    width:auto;

}
.search-bar-input{
height:auto;
font-size:2em;
width:300px;
border-left:1px solid #ccc;
border-top:1px solid #ccc;
border-bottom:0px;
border-right:0px;

}

.menu-icon{
    border-left:1px solid #ccc;
    
  
}

.fa-search,.fa-bars{
margin:.5em .5em;


}

.fa-search{
    color:#ccc;

}

.fa-bars{
    color:#E94057;
}
.bg-img{

    color:white;
}
.header-img{
    background:url(assets/header-img-1.jpg) no-repeat;
    background-size:cover;
    width:100%;
    height:auto;
    z-index:-1;
    

}
.header-img-2{
    background:url(assets/header-img-2.jpg) no-repeat;
    background-size:cover;
    width:100%;
    height:auto;
    z-index:-1;
    

}
.header-img-3{
    background:url(assets/header-img-3.jpg) no-repeat;
    background-size:cover;
    width:100%;
    height:auto;
    z-index:-1;
    

}
.news{
    display:grid;
    grid-template-columns: 1fr 6fr;
}
.news-img-1{

}