*,::before,::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    overflow-x:hidden; 
    
}

.navbar{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr;
    border-bottom:1px solid #ccc;
    
}
.logo{
    width:100%;
    height:40px;
    background-image: linear-gradient(to bottom right,#c09,#f42 85%);
    padding-bottom:.5em;
    z-index:999;
}


.logo img{
    height:16px;
    width:80px;
    margin:.5em auto;
}
.search-bar{
    height:auto;
    width:auto;

}
.search-bar-input{
height:auto;
font-size:2em;
width:300px;
border-left:1px solid #ccc;
border-top:1px solid #ccc;
border-bottom:0px;
border-right:0px;

}

.menu-icon{
    border-left:1px solid #ccc;
    
  
}

.latest-funding h2{
    margin-bottom:.5em;
    color:#f42;
}

.latest-funding h2:hover{

    color:black;
}
.latest-funding-list{
    margin-bottom: 3em;
    list-style: none;
}

.latest-funding-list li{
    margin-bottom:.5em;

}
.latest-funding-list li a{
    color:#f42;
}

.latest-funding-list li a:hover{
    color:black;
}
.fa-search,.fa-bars{
margin:.5em .5em;


}

.fa-search{
    color:#ccc;

}

.fa-bars{
    color:#E94057;
}
.bg-img{

    color:white;
}

.section-a{
    margin-top:5px;
    margin-left:5px;
    background-color:#ccc;
    min-height:100vh;
}
.header-img{
    background:url(assets/header-img-1.jpg) no-repeat;
    background-size:cover;
    width:100%;
    height:auto;
    z-index:-1;
    

}
.header-img-2{
    background:url(assets/header-img-2.jpg) no-repeat;
    background-size:cover;
    width:100%;
    height:auto;
    z-index:-1;
    

}
.header-img-3{
    background:url(assets/header-img-3.jpg) no-repeat;
    background-size:cover;
    width:100%;
    height:auto;
    z-index:-1;
    

}


.section-b{
    margin-top: 80px;
    margin-left:15px;
}

.section-b h2{
    margin-bottom:1em;
    color:#c9c9c9;
}

.news{
    display:grid;
    grid-template-columns: 1fr 6fr;
    padding-bottom: 20px;

}
.news a{
    color:black;
}

.news-caption-1:hover{
    text-decoration:underline;
    color:#f42;
}

.news-caption-grid{
    display: flex;

}

.news-caption-2 a:hover
{
    color:black;
}

.news-caption-dot{
    margin-top:0.3em;
    margin-left:0.3em;
    color:#c8c8c8;
}

.news-img-1{
    width: 75px;
    height:75px;
}

.news div{
    margin-left: 0.5em;
}

.news-caption-2{
    margin-top: 0.5em;
    color:#c8c8c8;

}

.news-caption-3{
    margin-top: 0.5em;
    color:#c8c8c8;
    margin-left:0.3em;
}


.news-caption-2 a{
    color:#c8c8c8;

}

.section-c{
    margin-left: 15px;
    margin-right: 20px;
    margin-top:30px;
}

.first-head{
    background-color:#f42;
    padding:10.6666666667px 16px 10.6666666667px 84px;
}

.sub-head{
    background: rgba(255,68,34,.08);
    padding:10.6666666667px 16px 10.6666666667px 84px;
}

.funding-rounds-img{
    position: absolute;
    top: 7px;
    left: 10px;
}


.story{
    position: relative;
}


.investment-card{
    background-color:#fffaf8;
    padding-top:10px;
    padding-left:10px;

}
.fa-tag,.fa-briefcase{
    margin-right:10px;
    margin-left:7px;
}
.investment-card p{
    margin-bottom: 10px;
}
.story-byline{
    margin-left:5px;
    margin-top:10px;
    padding-bottom:15px;

}

.investment-card-last-p{
    border-top:1px solid #ffe7e2;

}

.story-byline-span{
    color:#ccc;
}

.section-d{
    margin-left:15px;
    margin-top:50px;
    margin-right:20px;
}

.section-d-img{
    background:url(assets/apps-img1.png) no-repeat;
    background-size:100% 100%;
    width:auto;
    height:250px;
    z-index:-1;
}

.section-d-caption-1{
    color:white;
}



.section-d-subsection{
    display:grid;
    grid-template-columns: 5fr 1fr;
    background-color:#fff4f2;
    
}

.section-d-subsection-img{
    width:96px;
    height:96px;
}

.section-d h2{
    margin-bottom:1em;
}

.section-d-caption{
    position:relative;
}

.section-d-caption-1{
    position: absolute;
    top:170px;
    font-size:1em;
    margin-left:10px;

}

.section-d-caption-2{
    position: absolute;
    top:190px;
    font-size:1.5em;
    margin-left:10px;
    line-height: .7em;
}

.section-d-caption-3{
    position: absolute;
    top:210px;
    font-size:1em;
    margin-left:10px;
    line-height: 1.5em;
}

.section-d-subsection-1{
    margin:1em 0.5em 0 1em;
    font-size:1em;
}

.section-d-subsection-2{
    margin:0em 0.5em 0 1em;
    font-size:1em;
    font-weight:600;
}

.section-d-ul{
    margin-left:15px;
    margin-top:1em;
    
}

.section-d-ul-li{
    padding-bottom:10px;
    border-bottom:1px solid #ccc;
    margin-bottom:1em;
    color:#555;
    padding: 6px 0 6px 14px;
    list-style:none;  
}


.section-d-ul-li::before {
    content: "\2022";  color: red; 
    font-weight: bold; 
    display: inline-block;
    width: 1em;
    margin-left: -1.2em; 
  }

.section-d-ul-li:hover{
    color:black;
}

.section-d-ul-li a{
    text-decoration: none;
}

.section-b-2{
    margin-top: 50px;
    margin-left:15px;
    margin-right: 20px;
}

.deals-wrapper{
    margin-bottom: 2em;
    display:flex;
    justify-content: space-between;
}


.news-caption-3-2{
    margin-top: 0.5em;
    color:black;
    margin-left:0.6em;
}
.news-caption-2-2{
    margin-top: 0.5em;
    color:#c8c8c8;
    text-decoration: line-through;
}
.deals-wrapper a{
    color:#f42;
}
.deals-wrapper p{
    margin-top:0.3em;
}

.footer-bg-1{
    background-color: #131313;
    width:100vw;
    height:auto;

}

.footer-bottom{
    background-color:#000000;
    width:100vw;
    height:auto;
}

.footer-icons {

    display: flex;
    padding-top:2em;
    margin-left:15vw;
    width:100vw;
}


.footer-icons li{
    margin:0 0.2em;
    list-style: none;
    height:40px;
    width:40px;
    border-radius:50%;
    border:1px solid #333;
    padding:.5em .5em;
    background:#333;
    
    text-align:center;
}

.footer-icons li a{
    
    text-decoration: none;
    color:#fff;
}

.footer-menu{
    display: flex;
    list-style: none;
    width:100vw;
    margin-top:2em;
    margin-left:22vw;
    margin-right:20vw;
    padding-bottom:2.5em;

}

.footer-menu-link{
    margin:0 0.5em;
    font-size:.65em;
    text-align:center;

    
}

.footer-menu-link a{
    color:#aaa;
}

.footer-bottom{
    padding:2em;

}

.footer-bottom-div{
    display: flex;
    width:100vw;
    margin-left:5em;
 
}
.footer-bottom-div img{
width:40px;
height:40px;

}
.footer-bottom-p{
    color:#ccc;
    margin-top:0.7em;
    margin-left:0.2em;
}

.footer-bottom-p-love{
    color:#ccc;
    text-align: center;
}

.footer-bottom-p-love i{
    color:red;
    margin-left:.3em;
}

.footer-bottom-p-power{
text-align:center;
color:#ccc;
margin-top:0.2em;

}

.footer-bottom-p-power span img{
    width:40px;
    height:7px;
}